.split {
  @apply md:flex
}

.cards {
  @apply md:flex md:w-full md:space-x-10
}

.projectsContainer {
 @apply md:w-1/2
}

.technologiesContainer {
 @apply md:w-1/2
}
.container {
  @apply m-4
  md:w-3/4
  md:h-full
}
.avatar {
  @apply w-56 h-56 object-cover rounded-md shadow shadow-black
  md:w-72 md:h-72

}

.avatarAndContact {
  @apply flex bg-gray p-4 rounded-md shadow shadow-black
}
.contacts {
  @apply flex flex-col justify-between ml-4
  md:hidden
}
.contactHeader {
  @apply text-greytext text-2xl
  md:text-3xl
}
.contactItem {
  @apply text-greytext flex items-center
}

.contactIcon {
  @apply text-greytext text-2xl mr-2
}
.contactText {
  @apply text-sm
}







.aboutHeader {
  @apply text-greytext text-2xl my-4
  md:hidden

}

.about {
  @apply bg-gray p-4 rounded-md shadow shadow-black
  md:hidden
}

.aboutText {
  @apply text-greytext
}
.MDaboutText {
  @apply hidden
  md:block md:ml-4 text-greytext
}



.projectHeader {
  @apply text-greytext text-2xl my-4
  md:text-3xl md:my-8
}

.projectCards {
  @apply flex w-full overflow-x-scroll space-x-4
  md:flex-wrap md:space-x-0 md:justify-between md:h-[600px] md:overflow-y-scroll
}



.technologiesHeader {
  @apply text-greytext text-2xl my-4
  md:text-3xl md:my-8
}

.technologyHeader {
  @apply text-greytext my-2
  md:text-xl
}

.technologyGroup {
  @apply flex w-full overflow-x-scroll space-x-4
  md:space-x-8
}

.techIcon {
  @apply text-6xl mx-auto
  md:text-8xl
}


.educationHeader {
  @apply text-greytext text-2xl my-4

}
.miscGroup {
  @apply border-b border-white
  md:hidden
}



.language {
  @apply text-greytext
}

.languageBox {
  @apply bg-gray rounded-md mb-4 w-full p-2 shadow shadow-black

}
