.split {
  @apply xl:flex
}

.cards {
  @apply xl:flex xl:w-full xl:space-x-10
}

.projectsContainer {
 @apply xl:w-1/2
}

.technologiesContainer {
 @apply xl:w-1/2
}
.container {
  @apply p-4
  xl:w-4/5
  xl:h-full
  /* transition-colors duration-1000 ease-in-out */

}
.avatar {
  @apply w-56 h-56 object-cover rounded-md shadow shadow-black
  xl:w-72 xl:h-72

}

.avatarAndContact {
  @apply flex bg-gray/75  p-4 rounded-md shadow shadow-black
  md:justify-evenly

}
.contacts {
  @apply flex flex-col justify-between ml-4
  xl:hidden
}
.contactHeader {
  @apply text-white text-2xl
  xl:text-3xl
}
.contactItem {
  @apply text-greytext flex items-center
}

.contactIcon {
  @apply text-greytext text-2xl mr-2
}
.contactText {
  @apply text-sm
}







.aboutHeader {
  @apply text-white text-2xl my-4
  xl:hidden

}

.about {
  @apply bg-gray/75  p-4 rounded-md shadow shadow-black
  xl:hidden
}

.aboutText {
  @apply text-greytext
}
.MDaboutText {
  @apply hidden
  xl:block xl:ml-4 text-greytext
}



.projectHeader {
  @apply text-white text-2xl my-4
  xl:text-3xl xl:my-6
}

.projectCards {
  @apply flex w-full overflow-x-scroll space-x-4
  xl:flex-wrap xl:space-x-0 xl:justify-between xl:h-[600px] xl:overflow-y-scroll
}



.technologiesHeader {
  @apply text-white text-2xl my-4
  xl:text-3xl xl:my-6
}

.technologyHeader {
  @apply text-white my-2
  xl:text-xl
}

.technologyGroup {
  @apply flex w-full overflow-x-scroll space-x-4
  xl:space-x-8
}

.techIcon {
  @apply text-6xl mx-auto
  xl:text-8xl
}


.educationHeader {
  @apply text-white text-2xl my-4

}
.miscGroup {
  @apply border-b border-white
  xl:hidden
}



.language {
  @apply text-greytext
}

.languageBox {
  @apply bg-gray/75  rounded-md mb-4 w-full p-2 shadow shadow-black

}
